* {
    margin: 0;
    padding: 0;
}

  body {
    background-image: url("IMG/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 23vh;
}

h1 {
    text-shadow: 10px 40px 20px rgb(0, 0, 0) , 15px 8px 20px rgb(255, 215, 0);
    text-align: center;
    margin: 5vh;
    font-size: 80px;
    color: white;
}

.footer {
    margin-top: 9px;
}
